# GCP Configuration
GCP_PROJECT_ID=dbt-playground-474423

# Postgres Configuration
POSTGRES_PASSWORD=your_postgres_password_here

# Docker Compose Volume Mounts
DBT_PROJECT_PATH=/srv/dbt/dbt_project
PROFILES_YML_PATH=/srv/dbt/profiles.yml
GCP_CREDS_PATH=./.secrets/gcp-creds.json

# Docker Compose Secrets Mounts
POSTGRES_PASSWORD_FILE=./.secrets/postgres_password
