pageInfo:
  title: K's Homelab Dashboard
  description: |
    Self-hosted at home by an Analytics Engineer with an interest in networking & infrastructure. Stack consists of a mini PC running Proxmox, a Raspberry Pi, a Mikrotik router, and a consumer router.
appConfig:
  disableConfiguration: true
  enableMultiTasking: true
  disableConfigurationForNonAdmin: true
  auth:
    enable: true
    enableGuestAccess: true
    users:
      - user: K
        hash: ${DASHY_AUTH_HASH}
        type: admin
  layout: vertical
  iconSize: medium
  theme: one-dark
sections:

  - name: Public Links
    displayData:
      itemSize: large
    widgets:
      - type: apod
        options:
          updateInterval: 600

    items:
      - title: Space photos
        icon: fas fa-image
        url: https://nextcloud.${HOMELAB_DOMAIN}/index.php/s/${NEXTCLOUD_SHARE_1}
        description: Explore cosmic wonders from SpaceHorizon

      - title: Email me
        icon: fas fa-envelope
        url: "mailto:${DASHY_EMAIL}"
        target: newtab
        description: Zero expectations of actual mail, but highly receptive to million-dollar contracts or unsolicited advice.

  - name: Service Status
    displayData:
      sortBy: default
      rows: 2
      cols: 1
      collapsed: false
    widgets:
      - type: iframe
        options:
          label: Node Status
          url: >-
            data:text/html;charset=utf-8,<body style="margin:0;display:flex;align-content:flex-start;justify-content:flex-start;height:100%;gap:15px;font-family:sans-serif;color:lightgray;flex-wrap:wrap;padding:10px;">
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Reverse Proxy</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_reverse-proxy/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_reverse-proxy/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">DNS</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_dns/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_dns/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">AI Tools</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_ai-tools/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_ai-tools/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Pulse</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_pulse/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_pulse/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Docker Homelab</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_main-homelab/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_main-homelab/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">OpenMediaVault</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openmediavault/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openmediavault/uptimes/7d/badge.svg"></div>
            <div style="display:flex;align-items:center;gap:10px;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Hermes/OpenClaw</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openclaw/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openclaw/uptimes/7d/badge.svg"></div>
            </body>
          frameHeight: 270


      - type: iframe
        options:
          label: Services Status (incomplete list)
          url: >-
            data:text/html;charset=utf-8,<body style="margin:0;display:flex;align-content:flex-start;justify-content:flex-start;height:100%;gap:15px;font-family:sans-serif;color:lightgray;flex-wrap:wrap;padding:10px;">
            <a href="https://nextcloud.${HOMELAB_DOMAIN}" target="_parent" style="text-decoration:none;display:flex;align-items:center;gap:10px;color:inherit;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Nextcloud</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_nextcloud/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_nextcloud/uptimes/7d/badge.svg"></a>
            <a href="https://filebrowser.${HOMELAB_DOMAIN}" target="_parent" style="text-decoration:none;display:flex;align-items:center;gap:10px;color:inherit;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">Filebrowser</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_filebrowser/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_filebrowser/uptimes/7d/badge.svg"></a>
            <a href="https://ai.${HOMELAB_DOMAIN}" target="_parent" style="text-decoration:none;display:flex;align-items:center;gap:10px;color:inherit;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">OpenWebUI</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openwebui/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_openwebui/uptimes/7d/badge.svg"></a>
            <a href="https://privatebin.${HOMELAB_DOMAIN}" target="_parent" style="text-decoration:none;display:flex;align-items:center;gap:10px;color:inherit;"><span style="font-size:14px;font-weight:200;width:140px;text-align:left;">PrivateBin</span><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_privatebin/health/badge.svg"><img src="https://gatus.${HOMELAB_DOMAIN}/api/v1/endpoints/_privatebin/uptimes/7d/badge.svg"></a>
            </body>
          frameHeight: 170

  - name: IP Banlist
    widgets:
      - type: iframe
        options:
          label: Naughty list (last 24h)
          url: https://banned.${HOMELAB_DOMAIN}/
          updateInterval: 30
          frameHeight: 450
        useProxy: true