{
	"data": "ENC[AES256_GCM,data:/XRzvWuSfRe1RIkFfoRmE+tDYcDEZKv5k4qeZ+GEUI2B2uulBke6Uj1gGtjiguIDqk1iLodM1Pk4zRy/ANIU8mo7gk/ghuXaNFPNCgDC0zmHIzkY7X9H/M3rbyHapn0EO234IFfxBwjU6SS1ORurPOuEzdIgaip8ZwF2enJDMj1UkZsBwWPtl5HIWxSubsccnbxqR0GKKqEVQXC6qeha9CZ0o6gh4W47iyzV2lhKfSGpPAJafBBwE5p+fil6kUR1qSQy9JZndVwnsYcCulxQcbn8ymhHR7jn7sKRouL23CL2k5CblNzIHqM5Qjz6qsas3JTW+TDOdzLYda1N+pmdMc9Y+cW31M2bsamvQp1J2zkHPSrXokShGF5v4YqG/TLg05NXfJAbG0FsJusrqIa/3cb9nPTiLN0Ez7JIjdMTWnV9KR6PAYn9o942xm1K7HSUWYhe1Eg6GRpSgBlzCFegt5nPK84O5gez37bEQkpZ9UwVK2AFG9k8Lde9fsUEkkUy+JdJ5dsHjicWS4TDBXVzt8jIiMzCuNPTGZPb7Iw+tJr0DLNhFkB/k68N4oaJv2bvjuZVYu1QafYVo+2TuvvCPIZDVpHYfb0WT3bgsr5QPZOYXWOPkWfCdx7I3SRAX7zB0xGa8qe9ofmen0O9n3ISE6FAggSGIteVHCcvpG/Uhl0wa5jL0FIkqNr4feWc6AcSE9lUPpmYFgEtzLn1QQHyWC8alDCfiCQBVF4hjv0DSKQRZVRRmdTnPck=,iv:/wzN0z2VIHFVwtcVg52B6xWrkFz/eJAQoF4q3aJWM/Y=,tag:1iXEwrDoyf55vmD3NmVqgw==,type:str]",
	"sops": {
		"kms": null,
		"gcp_kms": null,
		"azure_kv": null,
		"hc_vault": null,
		"age": [
			{
				"recipient": "age1kr7vgr0zfnfkxrll08vdnheezfyd8nxdsv8suays42q5jfwedc9qn6c895",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBQbzNMa2RmTGxocmhpRFVI\nWHdweUhlSGxvTnFTVTNoM2M5QzZVT0wyYm5ZCjB1ZzQ0OVFlMk85U3ZJeE5KVE4z\nN1FLUXF5VGNKb2g3TzJydXNBc3lDTEEKLS0tIGlDSzZHMVlQa2lGbktBOEd3NW1M\nOEowVWJrejAyUzhUV0g3K2EraGdpRmMKF3JvygBFFcC99oJc9tEizpD9rFA0eWo1\nTZ0YK+6J8mN2xSvV8sv5MDq2bOVoG5WAGRLdP8Ui5xZgYUG3b4frGA==\n-----END AGE ENCRYPTED FILE-----\n"
			},
			{
				"recipient": "age1ys2a57md4tw5hmad3v532gjzgxn2krznf07tgwyhekhcu5j5m9rs3gskq4",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSB6b083bFphalR3cHVJWlZZ\nMlQvVnhMK3FRR0ZZWlRJM3ZkTDhXLy9iODJnCjdHWCtkQlhic2ljdkhwR1IwT3o3\nYWcyWm9adE1HVFhWNi9kNUg0WWNtTncKLS0tIFhsbnhHY2d0Z1k2Z1NaS05VbEgz\nZXc0dlRGK3VvSGp1YzZUWnlrTVNWSFUKOK0G7L8NFnADfxrfaQjI5jXOQ0JkWveB\nh2nxDAoWj7WgfuxTpLo10aFe0SUJUxMNq1CcZpdQy6vIkJBE7JFENQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-07-21T19:59:36Z",
		"mac": "ENC[AES256_GCM,data:u6xvYZ7eJEq1B8eYOANRdh3CppeIX8Mj1fCJj+CPBYZXIG7RpAf6IHVzjZh5I2xfN7ZgRves1mXNcx2y/k60oxXentou0Tcz4O6y3HD26V/X64Y1PAQwNikwnYbYBCuN6vz71iOxOyEZuQGdhk+VSVnbChYDc0cYp2Rq4ccmp3g=,iv:rcAL+8dXUJNg22zvSe/SGeZKxzKLfmq9TLjRdSkS8JI=,tag:QczDHeWMzK6VCOakN3+jgg==,type:str]",
		"pgp": null,
		"unencrypted_suffix": "_unencrypted",
		"version": "3.9.4"
	}
}