# Caddy runs as uid 999 on this LXC. Do not watch host login UIDs.
WATCH_UIDS=999
WATCH_COMMS=sh,bash,dash,nc,ncat,netcat,socat,python,python3,perl
INTERVAL=5
RATE_SEC=60
TELEGRAM_ENV=/srv/homelab-watch/telegram.env
TELEGRAM_SEND=/usr/local/sbin/homelab-watch-send
