# CrowdSec Environment Variables Template
CROWDSEC_LAPI_URL_PORT=192.168.50.101:8080
HOMELAB_SUBNET=192.168.50.0/24
CROWDSEC_FIREWALL_API_KEY=YOUR_FIREWALL_API_KEY
CROWDSEC_ROUTEROS_API_KEY=YOUR_ROUTEROS_API_KEY
MIKROTIK_ADDRESS=192.168.88.1:8728
MIKROTIK_USERNAME=crowdsec-api
MIKROTIK_PASSWORD=YOUR_MIKROTIK_PASSWORD
