# CrowdSec Environment Variables Template
CROWDSEC_FIREWALL_API_KEY=YOUR_FIREWALL_API_KEY
CROWDSEC_ROUTEROS_API_KEY=YOUR_ROUTEROS_API_KEY
MIKROTIK_USERNAME=crowdsec-api
MIKROTIK_PASSWORD=YOUR_MIKROTIK_PASSWORD
