[Unit]
Description=Auth file watch every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=auth-watch.service

[Install]
WantedBy=timers.target
