# Caddyfile Environment Variables Template
DOMAIN_NAME=homelab.local
HOMELAB_IP=192.168.50.95
OPENCLAW_IP=192.168.50.91
PULSE_IP=192.168.50.88
DNS_IP=192.168.50.102
GLANCES_HASH=YOUR_GLANCES_HASH_HERE
WUD_HASH=YOUR_WUD_HASH_HERE
IPV6_PREFIX=YOUR_IPV6_PREFIX_HERE
